# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data files (uncomment if you want to exclude large CSV files)
# *.csv

